
.expense-item {
    display: flex;
    
    position: relative;
    padding: 2px;
  
    
   
  }
  
  .expense-details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    display: flex;
  justify-content: space-between;
  border-radius: 9px;
   
    background-color: rgb(242, 242, 252);
 
    
 
    
  }
  
  .expense-date {
 
  justify-content: space-between;

  
   
  }
  
  .expense-title {
    font-size: 1.2rem;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
  }
  
  .expense-amount {
    font-size: 1.1rem;
    color: #c22323;
    padding: 10px;
    border-radius: .5rem ;
    
    border-color: rgb(33, 33, 116);
    background-origin: border-box;
  background-color: #555;
  }
  
  .expense-location {
    font-size: 1.5rem;
    color: #555;
    padding: 10px;
  }
  .btn{
   color: #000; margin: 10px;
   background-color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
  } 