/* ExpenseItem.css */

/* ExpenseItem.css */

.expense-item {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .expense-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .expense-date {
    display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #888;
   
  }
  
  .expense-title {
    font-size: 1.2rem;
    margin: 5px 0;
    padding: 10px;
  }
  
  .expense-amount {
    font-size: 1.1rem;
    color: #c22323;
    padding: 10px;
  }
  
  .expense-location {
    font-size: 0.9rem;
    color: #555;
    padding: 10px;
  }
  