.expense-form { 
    padding: 10px;
    border-radius: 5px;
    font: initial;
  margin-bottom: 1rem;
  }
  
  .input-row input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  .button-row {
    text-align: right;
    margin: 30px;
}
    
 