.new-expense {
    background-color: #a892ee;
    padding: 10px;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;

  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #40005d;
    background-color: #17108e;
    color: rgb(235, 244, 245);
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .new-expense button:hover {
    background-color: #d40e0e;
    border-color: #510674;
  }
  
 